<!DOCTYPE html>
<html>

<head>

    

    <title>Dater</title>

</head>

<body>
   
    <a href="{{ path('app_home') }}">Powrót do strony głównej</a>
    <hr>
    {{ form(profileFillForm) }}
    
</body>

</html>