<!DOCTYPE html>

<html>

<head>
    <title>Załóż konto</title>
</head>

<body>

    <a href=" {{ path('app_home') }}">Powrót do strony głównej</a>

    <hr>

    {{ form(form) }}

    <hr>
    {{ nick }}
</body>

</html>