$font-size-base: 16px;
$font-color-base: #0A0F0D;
$font-family-first: 'Raleway', sans-serif;
$color-black: #0A0F0D;
$color-red: #EE4266;
$color-gray: #C4CBCA;
$color-violet: #2A1E5C;


html {
    font-size: $font-size-base;
    font-family: $font-family-first;
    color: $font-color-base;
}

body {
    margin: 0 auto;
}

#header {
    background-color: #EE4266;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    // width: 50%;
}

// CONTENT LEFT

#content-left {
    background-color: aqua;
    display: flex;    
    flex-direction: column;
}

#profile-photo {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#profile-photo img {
    width: 300px;
    height: 300px;
}

// CONTENT RIGHT

#content-right {
    width: 50%;
}

.content-right-grid {
    display: grid;
    grid-template-columns: 
        [data-header]   2fr 
        [data]          3fr        
        [edit]          1fr
        [visib]         1fr;
    grid-template-rows: 
        1.5fr
        1fr 1fr 1fr 1fr 1fr 1fr
    ;
}

h4 {
    margin-top: 0;
    margin-bottom: 0rem;
}

.row-first {
    border-bottom: 1px solid black;
}

.row-first h3 {
    margin: 0;
    color: $color-black;
}

.row-grid {
    margin-top: 1rem;
    padding-right: 1rem;
}

.col-headers {
    grid-column-start: data-header;
    justify-self: end;
}

.icon-editable {
    color: green;
    cursor: pointer;
}

.icon-noneditable {
    color: gray;
}

// MODAL EDIT

.modal {
    display: none;
    background-color: yellow;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    background-color: #EE4266;
    margin: auto;
    padding: 20px;
    width: 40%;
}

#content-right {
    background-color: aquamarine;
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
}